<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
      <img class="img-fluid lozad" data-src="/images/blog/github.png" onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'">
    </div>

    <div class="content">
      <h3><a target="_blank" href="https://wiki.wncc-iitb.org/index.php/Github-tutorial">Github Tutorial</a></h3>
      <p>GitHub is a code hosting platform for version control and collaboration. It lets you and others work together on projects from anywhere. It teaches you GitHub essentials like repositories, branches, commits, and Pull Requests.</p>
      <a class="btn btn-transparent" target="_blank" href="https://wiki.wncc-iitb.org/index.php/Github-tutorial">{{ i18n "readMore" }}</a>
    </div>
  </div>
</article>
