<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
      <img class="img-fluid lozad" data-src="http://i3.ytimg.com/vi/W74Ky0kdlFU/hqdefault.jpg" onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'">
    </div>

    <div class="content">
      <h3><a target="_blank" href="https://www.youtube.com/watch?v=W74Ky0kdlFU">WnCC Session on FOSS</a></h3>
      <p>Watch the recording of a session on Introduction to Open Source Software. We covered topics like What is Open Source? Different Open Source programs. What is GSoC and how to select organization? How to write a Proposal? How to create a PR?</p>
      <a class="btn btn-transparent" target="_blank" href="https://www.youtube.com/watch?v=W74Ky0kdlFU">Watch video</a>
    </div>
  </div>
</article>
