<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
      <img class="img-fluid lozad" data-src="/images/blog/past_year.jpeg" onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'">
    </div>

    <div class="content">
      <h3><a target="_blank" href="https://github.com/wncc/Hello-FOSS">Past year Hello FOSS</a></h3>
      <p>Check out the previous year Hello FOSS repo to get an idea of this event!</p>
      <a class="btn btn-transparent" target="_blank" href="https://github.com/wncc/Hello-FOSS">{{ i18n "readMore" }}</a>
    </div>
  </div>
</article>
